<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h2>Are you sure you want to delete the following course?</h2>
        <p>Name: {{course.name}}</p>
        <p>description: {{course.description}}</p>
        <form action="/">
            <input type="submit" value="No">
        </form>
        <form action="confirmed/{{course.id}}">
            <input type="submit" value="Yes! I want to delete this">
        </form>
    </body>
</html>
