<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Single Mongoose</title>
    </head>
    <body>
        <h2><%= mongoose[0].name %></h2>
        <p>Age: <%= mongoose[0].age %></p>
    </body>
</html>
