<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type ="text/javascript">
        $(document).ready(function (){
            // this triggers the connection event in our server!
            var socket = io.connect();
            // we'll write all the socket stuff after the above line!
            $('button').click(function(){
                var data = $('#survey_form').serializeArray();
                data = {
                    "name":data[0].value,
                    "location":data[1].value,
                    "language":data[2].value,
                    "comment":data[3].value
                }
                socket.emit("form_submit", {form_data: data});
                socket.on('server_response', function(data){
                    $('#user_info').html(
                        '<h3>Name: '+ data.response.name + '</h3>' +
                        '<h3>Location: '+ data.response.location + '</h3>' +
                        '<h3>Language: '+ data.response.language + '</h3>' +
                        '<h3>Comment: '+ data.response.comment + '</h3>'
                    );
                });
                socket.on('random_number', function(data){
                    $('#num').html('<h3>Your random number: ' + data.num + '</h3>')
                });
            });
        });
        </script>
    </head>
    <body>
        <div id="responsebox">
            <h3>Response</h3>
            <div id="user_info"></div>
            <div id="num"></div>
        </div>
        <div>
            <h3>Survey</h3>
            <form action="/" method="emit" id="survey_form">
                <p>Your Name:<input type="text" name="name"></p>
                <p>Dojo Location <select name="location"></p>
                    <option value="Los Angeles">Los Angeles</option>
                    <option value="San Jose">San Jose</option>
                    <option value="Seattle">Seattle</option>
                    <option value="Chicago">Chicago</option>
                    <option value="New York">New York</option>
                </select>
                <p>Favorite Language:<select name="language"></p>
                    <option value="Java">Java</option>
                    <option value="Python">Python</option>
                    <option value="C#">C#</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="C++">C++</option>
                </select>
                <p>Comment:(optional)</p>
                <p><textarea name="comment"></textarea></p>
                <button type="button">Submit</button>
            </form>
        </div>
    </body>
</html>
