<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <title></title>
 <!-- THESE TWO VERSIONS BELOW MUST MATCH (good thing bower will catch that for us, but be aware if you are using CDN's)!!! -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
<script>
    //  inject the ngRoute dependency in the module.
    var myApp = angular.module('myApp', ['ngRoute']);
    //  use the config method to set up routing:
    myApp.config(function ($routeProvider) {
      $routeProvider
        .when('/',{
            templateUrl: 'partials/view1.html',
            controller: 'view1Controller'
        })
        .when('/partial2',{
            templateUrl: 'partials/view2.html'
        })
        .otherwise({
          redirectTo: '/'
        });
    });
    //  build the controllers
    myApp.controller('view1Controller', function ($scope) {
      $scope.sports = ['golf', 'basketball', 'hockey', 'tennis', 'football'];
    });
    myApp.controller('view2Controller', function ($scope) {
      $scope.message = 'We are using another controller';
    });
    </script>
  </head>
  <body>
    <div ng-app='myApp'>
        <a href="#!/">Partial 1</a> | <a href="#!/partial2">Partial 2</a>
        <div ng-view="">
        </div>
    </div>
  </body>
</html>
