<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h2>New Goose</h2>
        <form action="/mongooses" method="post">
            <p>Name:<input type="text" name="name"></p>
            <p>Age:<input type="number" name="age"></p>
            <p><input type="submit" value="Submit"></p>
        </form>
    </body>
</html>
