<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>All Mah Friends</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
    </head>
    <body>
    {% for friend in friends %}
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Occupation</th>
        </tr>
        <td>{{ friend['id'] }}</td>
        <td>{{friend['first_name'] }}</td>
        <td>{{friend['last_name'] }}</td>
        <td>{{friend['occupation'] }}</td>
    </table>
    <form action="/friends/{{friend['id']}}/edit" method='post'>
        <input class="edit_button" type="submit" value="Edit">
    </form>
    <form action="/friends/{{friend['id']}}/delete" method='post'>
        <input class="edit_button" type="submit" value="Delete">
    </form>
        <hr>
    {% endfor %}

    <h2>Add a Friend</h2>
    <form action='/friends' method='POST'>
        <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
        <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
        <label for="occupation">Occupation:<input type="text" name="occupation" id="occupation"></label>
        <input type="submit" value="Add">
    </form>
    </body>
</html>
