<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Success</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <h1>Success</h1>
        {% if valid %}
            <h2>The email address you entered ({{valid}}) was valid!</h2>
        {% endif %}

        <table>
            <tr>
                <th>Email:</th>
                <th>Created At:</th>
            </tr>
            {% for item in emails %}
                <tr>
                    <td>{{ item['email'] }}</td>
                    <td>{{ item['created_at']}}</td>
                    <td>
                        <form action="/delete/{{item['id']}}" method="POST">
                            <input type="submit" name="delete" value="Delete">
                        </form>
                </tr>
            {% endfor %}
            </tr>
        </table>
    </body>
</html>
